<!DOCTYPE html>
<html lang="en, ko">
<head>
    <%- include('./common/Head_CDN') %>
    <%- include('./data_conversion/basicBoard_Data') %>
    <script type="text/javascript" src="/static/js/basicBoard.js"></script>
    <link href="/static/css/basicBoard.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <section>
        <!-- topNavbar -->
        <%- include('./common/topNavbar') %>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- sideNavbar -->
            <%- include('./common/sideNavbar') %>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <div class="background_all row">
                <div class="board_wrap col-12">
                    <div class="board_t">자유게시판</div>
                    <form id="form_main">
                        <table class="board table table-hover" id="tabel_box" cellspacing="2" cellpadding="4" >
                            <colgroup>
                                <col width="15%" />
                                <col width="30%" />
                                <col width="20%" />
                                <col width="20%" />
                                <col width="20%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="num">번호</th>
                                    <th class="title">제목</th>
                                    <th class="writer">글쓴이</th>
                                    <th class="date">등록일</th>
                                    <th class="count">조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- basicBoard.js 에서 data 생성 후 innerHTML로 붙여넣기기 -->
                            </tbody>
                        </table>
                    </form>
              
                    <div class="page" id="pageBtn">
                        <nav aria-label="Page navigation example">
                            <!-- basicBoard.js 에서 data 생성 후 innerHTML로 붙여넣기기 -->
                        </nav>
                    </div>
                    <div class="bt_wrap">
                        <button type="button" class="btn btn-secondary-lg" id="btn" onclick="board_write()">글작성</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인, 로그아웃 버튼 보여주기 & 로그아웃 기능 -->
    <%- include('./common/topLoginBtn.ejs') %>

    <script type="text/javascript">
        function board_write(){
            const form = document.getElementById("form_main"); 
            if ("<%=result.isLogin%>" == "true") {
                // 로그인한 상태
                axios({
                    method: "get",
                    url: "/board/write",
                    data: {
                        id: form.id.value,
                    }
                })
                .then((rep) => {
                    return rep.data;
                })
                .then((data) => {
                    if( data ) {
                        document.location.href='/board/write';
                    }
                });
            } else {
                // 로그인 안한 상태
                alert( "로그인 하십시오" ); 
                document.location.href='/login';
            }
        }
    </script>
</body>
</html>
