<!DOCTYPE html>
<html lang="en, ko">
<head>
    <%- include('./common/Head_CDN') %>
    <script type="text/javascript" src="/static/js/mypage.js"></script>
    <link href="/static/css/mypage.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <section>
        <!-- topNavbar -->
        <%- include('./common/topNavbar') %>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- sideNavbar -->
            <%- include('./common/sideNavbar') %>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <div class="row outline_line">
                <!-- 프로필 -->
                <div class="col-12 col-md-5">
                    <div>
                        <form class="mypage Information" id="profile_info">
                            <!-- 유저 닉네임, 사진 -->
                            <div class="nickname">
                                <%= data.name %>
                            </div>
                            <div class="user_poto">
                                <img id="profile_img_mypage" src="/static/res/profile_img/<%= data.user_img %>" />
                            </div>
                            <!-- 프로필 변경 버튼 -->
                            <label type="text" aria-label="Search">
                                <input type="file" name="img" style="display:none;" id="userfile">
                            </label>
                            <button type="button" class="btn btn-primary btn-sm" id="upload_file">프로필 변경</button>
                        </form>
                    </div>
                </div>
                <!-- 좋아요, 게시글 -->
                <div class="col-12 col-md-7">
                    <!-- 좋아요 -->
                    <div class="col-12" id="likeDiv">
                        <div>
                            <div>
                                <div>
                                    <span>Like list</span>
                                    <img id="item3_heart" src="/static/res/image/full_heart.png" style="width: 18px;">
                                </div>
                                <p>나의 좋아요 리스트</p>

                                <div class="love_img row" id="love_img">
                                    <% for(let i=0; i <=3; i++) { %>
                                        <img src="<%=result.likesing[i].album_img%>">
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 게시글 -->
                    <div class="col-12" id="borderDiv">
                        <div>
                            <div>
                                <p>My post</p>
                                <p>나의 게시글</p>

                                <div class="list-group" id="mypage_board_list">
                                    <% for(let i=0; i < 5; i++) { %>
                                        <% result.Board[i].date = new Date(result.Board[i].date); %>
                                        
                                        <% if(result.Board[i].number !== '정보 없음') { %> 
                                            <a href="/board/read?number=<%= result.Board[i].number %>" class="list-group-item list-group-item-action">
                                                <span><%= result.Board[i].title %></span>
                                                <span><%= result.Board[i].date.toLocaleDateString() %></span>
                                            </a>
                                        <% } else { %>
                                            <a class="list-group-item list-group-item-action">
                                                <span>-</span>
                                                <span>-</span>
                                            </a>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 좋아요 리스트 Modal -->
    <div class="modal fade d-none" id="like_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="like_modal">좋아요 리스트</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list_info">
                        <% for (let i=0; i < result.likesing.length; i ++ ) { %>
                            <% if(result.likesing[i].title !== '정보 없음') { %>
                                <div class="col-12">
                                    <img src="<%=result.likesing[i].album_img%>" class="like_modal_img">
                                    <span style="font-weight: bold;"><%=result.likesing[i].title%></span>
                                    <span><%=result.likesing[i].singer%></span>
                                    <img src='/static/res/image/full_heart.png' class="like_btn" onclick='Mypage_likeSingEvent(this, "<%= result.isLogin %>")'>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인, 로그아웃 버튼 보여주기 & 로그아웃 기능 -->
    <%- include('./common/topLoginBtn.ejs') %>
</body>
</html>

