<!DOCTYPE html>
<html lang="en, ko">
<head>
    <%- include('./common/Head_CDN') %>
    <script type="text/javascript" src="/static/js/readBoard.js"></script>
    <link href="/static/css/readBoard.css" rel="stylesheet" />
</head>
<body class="sb-nav-fixed">
    <section>
        <!-- topNavbar -->
        <%- include('./common/topNavbar') %>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- sideNavbar -->
            <%- include('./common/sideNavbar') %>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <div class="background_all row">
                <div class="board_wrap col-12">
                    <div style="color: white;" class="board_t">자유게시판</div>
                    <div class="board_view_wrap">
                        <div class="board_view">
                            <div class="title">
                                <%=result.Board.title%>
                            </div>
                            <div class="info">
                                <dl>
                                    <dt>번호</dt>
                                    <dd><%=result.Board.number%></dd>
                                </dl>
                                <dl> 
                                    <dt>글쓴이</dt>
                                    <dd><%=result.Board.id%></dd>
                                </dl>
                                <dl>
                                    <dt>작성일</dt> 
                                    <dd><%=result.Board.date.toLocaleDateString()%></dd>
                                </dl>
                                <dl>
                                    <dt>조회</dt>
                                    <dd><%=result.Board.hit%></dd>
                                </dl>
                            </div>
                            <div class="cont">
                                <pre style="font-size: 1.5rem; margin: 0px;"><%=result.Board.content%></pre>
                                <br />
                            <% if ( result.Board.filename != null ) { %>
                                    <% if ( result.Board.filename.includes(".png") || result.Board.filename.includes(".jpg")) { %>
                                <div class="img" style="width: 50%;">
                                    <img src="/static/res/board/<%=result.Board.filename%>" width="70%" />
                                </div>
                                    <% } %>
                            <% } %>
                            </div>
                            <!-- 만약에 data의 파일이름이 null이 아니고,
                                date의 파일네임에 png가 들어있거나또는 data의 파일네임에 jpg가 들어있으면
                                div class=img 태그를 보여줘라! -->

                            <% if ( result.Board.filename != null ) { %>
                                <a href="/static/res/board/<%=result.Board.filename%>" target="_blank"><%=result.Board.filename%></a> 
                            <% } %>
                            <!-- 만약에, data의 파일이름이 null이 아니면,
                                data의 파일을 보여주는 페이지를 열리게 하는 링크 -->
                        </div>
                        <div class="bt_wrap">
                            <% if ( result.id == result.Board.id && result.isLogin ) {  %>
                                <button type="button" class="btn btn-outline-secondary" id="btn_correct" onclick="document.location.href='/board/update?number=<%=result.Board.number%>'">수정</button>
                                <button type="button" class="btn btn-outline-secondary" id="btn_delete" onclick="delete_Board('<%= result.Board.number %>', '<%= result.isLogin %>');">삭제</button>
                            <% } %>
                            <button type="button" class="btn btn-outline-secondary" id="btn_cancel" onclick="document.location.href='/board'">목록</button>
                        </div>
                    </div>
                    <!-- 댓글 작성 -->
                    <div id="commentWrite">
                        <form id="commentWriteForm">
                            <textarea name="comment" placeholder="댓글을 입력해주세요."></textarea>
                            <button id="commentWriteBtn" type="button" class="btn btn-outline-secondary" onclick="commentWrite('<%=result.Board.number%>', '<%=result.isLogin%>')">작성</button>
                        </form>
                    </div>

                    <!-- 댓글 보기 -->
                    <div id="commentView">
                        <div>
                            <p>댓글 <%= result.comment.length + result.nestedComment.length %>개</p>
                        </div>
                        <div id="commentViewList">
                            <% for (let i = 0; i < result.comment.length; i++) { %>
                            <div class="row">
                                <div class="col-11">
                                    <p style="display: none"><%= result.comment[i].number %></p>
                                    <p><%= result.comment[i].id %></p>
                                    <pre><%= result.comment[i].content %></pre>
                                    <p><%= result.comment[i].writetime.toLocaleDateString() %>
                                        <% if (result.comment[i].updateflag) { %>
                                        <span>(수정됨)</span>
                                        <% } else { %>
                                        <span style="display: none;">(수정됨)</span>
                                        <% } %>
                                        <span class="nestedCommentBtn" onclick="nestedCommentBtn(this)">답글</span>
                                    </p>
                                    <!-- 대댓글 및 답글 작성 및 등록 -->
                                    <div class="col-11" style="display: none;">
                                        <div class="nestedCommentDiv">
                                            <form>
                                                <textarea name="comment"></textarea>
                                                <br />
                                                <button type="button" class="btn btn-outline-secondary" onclick="nestedCommentWrite(this, '<%=result.Board.number%>', '<%=result.isLogin%>', '<%=i%>')">등록</button>
                                                <button type="button" class="btn btn-outline-secondary" onclick="nestedCommentCancel(this)">취소</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- 댓글 드롭다운 수정, 삭제 -->
                                <div class="col-1">
                                    <div class="btn-group dropstart">
                                        <% if(result.id === result.comment[i].id) { %>
                                            <button type="button" class="btn btn-secondary dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">:</button>
                                        <% } %>
                                        <ul class="dropdown-menu">
                                            <p onclick="commentEdit(this, '<%= result.comment[i].content %>')">수정</p>
                                            <p onclick="commentDelete(this, '<%= result.comment[i].number %>')">삭제</p>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 댓글 수정 -->
                                <div class="col-12" style="display: none;">
                                    <div id="commentWriteUpdate">
                                        <form id="commentWriteUpdateForm">
                                            <textarea name="comment"></textarea>
                                            <br />
                                            <button type="button" class="btn btn-outline-secondary" onclick="commentEditUpdate(this, '<%= result.comment[i].number %>')">등록</button>
                                            <button type="button" class="btn btn-outline-secondary" onclick="commentEditCancel(this)">취소</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- 대댓글 및 답글 -->
                                <div class="col-12">
                                    <% for (let j = 0; j < result.nestedComment.length; j++) { %>
                                    <% if (result.comment[i].number === result.nestedComment[j].commentnumber) { %>
                                        <!-- 대댓글 및 답글 펼치기 -->
                                        <button class="btn btn-secondary collapse-btn <%='collapse-btn'+i%>" type="button" data-bs-toggle="collapse" data-bs-target="<%='#collapseComment'+(i+10)%>" aria-expanded="true" aria-controls="collapseExample">
                                            답글 1개
                                        </button>
                                        <div class="row">
                                            <div class="col-11 collapse show" id="<%='collapseComment'+(i+10)%>">
                                                <div class="card card-body">
                                                    <p><%= result.nestedComment[j].id %></p>
                                                    <pre><%= result.nestedComment[j].content %></pre>
                                                    <p><%= result.nestedComment[j].writetime.toLocaleDateString() %>
                                                        <% if (result.comment[i].updateflag) { %>
                                                        <span>(수정됨)</span>
                                                        <% } else { %>
                                                        <span style="display: none;">(수정됨)</span>
                                                        <% } %>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- 대댓글 및 답글 드롭두안 수정, 삭제 -->
                                            <div class="col-1 collapse show" id="<%='collapseComment'+(i+10)%>">
                                                <div class="btn-group dropstart">
                                                <% if(result.id === result.comment[i].id) { %>
                                                    <button type="button" class="btn btn-secondary dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">:</button>
                                                <% } %>
                                                    <ul class="dropdown-menu">
                                                        <!-- Dropdown menu links -->
                                                        <p onclick="nestedCommentEdit(this, '<%= result.nestedComment[j].content %>')">수정</p>
                                                        <p onclick="nestedCommentDelete(this, '<%= result.nestedComment[j].number %>')">삭제</p>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- 대댓글 및 답글 수정 -->
                                            <div class="col-12" style="display: none;">
                                                <div id="nestedCommentWriteUpdate">
                                                    <form id="nestedCommentWriteUpdateForm" class="nestedCommentWriteUpdateForm">
                                                        <textarea name="comment"></textarea>
                                                        <br />
                                                        <button type="button" class="btn btn-outline-secondary" onclick="nestedCommentEditUpdate(this, '<%= result.nestedComment[j].number %>')">등록</button>
                                                        <button type="button" class="btn btn-outline-secondary" onclick="nestedCommentEditCancel(this)">취소</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 로그인, 로그아웃 버튼 보여주기 & 로그아웃 기능 -->
    <%- include('./common/topLoginBtn.ejs') %>

</body>
</html>
