<!DOCTYPE html>
<html lang="en, ko">
<head>
    <%- include('./common/Head_CDN') %>
    <%- include('./data_conversion/youtubeChart_Data') %>
    <script type="text/javascript" src="/static/js/youtbeRealChart.js"></script>
    <link href="/static/css/youtbeRealChart.css" rel="stylesheet" />
    <%- include('./data_conversion/LikeSing_Data_Function') %>
</head>
<body class="sb-nav-fixed">
    <section>
        <!-- topNavbar -->
        <%- include('./common/topNavbar') %>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- sideNavbar -->
            <%- include('./common/sideNavbar') %>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <div class="container row">
                <div class="col-12">
                    <img src="/static/res/image/youtube.png" data-aos="fade-right">
                    <div data-aos="fade-right" data-aos-delay="600">실시간 음원순위</div>
                </div>
            
                <div class="col-12" data-aos="fade-right" data-aos-delay="1100">
                    <!-- 마지막 파일의 날짜 출력 -->
                    <span id="dayTag"><%= result.youtubedata.filelist[result.youtubedata.filelist.length-1].slice(17, -8) %></span>
                    <select class="form-select" aria-label="Default select example" style="display: inline; width: 10%; padding: 0px;" onchange="dateHourChange()">
                        <% if (result.youtubedata.fileHour == undefined) { %>
                            <% result.youtubedata.fileHour = result.youtubedata.filelist[result.youtubedata.filelist.length-1].slice(28, -5); %>
                        <% } %>
                        <!-- 메뉴 항목에 파일 리스트 출력 -->
                        <% for (let i = 0; i < result.youtubedata.filelist.length; i++) { %>
                            <% if (result.youtubedata.fileHour == result.youtubedata.filelist[i].slice(28, -5)) { %>
                                <option value="<%= result.youtubedata.filelist[i].slice(28, -5); %>" selected><%= result.youtubedata.filelist[i].slice(28, -5); %>:00</option>
                            <% } else { %>
                                <option value="<%= result.youtubedata.filelist[i].slice(28, -5); %>"><%= result.youtubedata.filelist[i].slice(28, -5); %>:00</option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-2" data-aos="fade-right" data-aos-delay="1600">              
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="viewCountChange()">
                            <option value="10">10개 보기</option>
                            <option value="25">25개 보기</option>
                            <option value="50">50개 보기</option>
                            <option value="100" selected>100개 보기</option>
                        </select>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="table-responsiv">
                        <table class="table align-middle table-hover" data-aos="fade-right" data-aos-delay="2100">
                            <thead>
                                <tr class="table-dark">
                                    <!-- <td scope="col" colspan="2"><span>순위</span></td> -->
                                    <td scope="col"><span>순위</span></td>
                                    <td scope="col"><span></span></td>
                                    <td scope="col"></td>
                                    <td scope="col"><span>노래</span></td>
                                    <td scope="col"><span>가수</span></td>
                                    <td scope="col"><span>차트 지속기간</span></td>
                                    <td scope="col"><span>조회수</span></td>
                                    <td scope="col"></td>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <!-- 차트 데이터 자리 -->
                            </tbody>
                            <tfoot>
                                <!-- 페이지 번호 -->
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <!-- 로그인, 로그아웃 버튼 보여주기 & 로그아웃 기능 -->
    <%- include('./common/topLoginBtn.ejs') %>
</body>
</html>
