<!DOCTYPE html>
<html lang="en, ko">

<head>
    <%- include('./common/Head_CDN') %>
    <script type="text/javascript" src="/static/js/mypage.js"></script>
    <link href="/static/css/mypage.css" rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
    <section>
        <!-- topNavbar -->
        <%- include('./common/topNavbar') %>
    </section>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- sideNavbar -->
            <%- include('./common/sideNavbar') %>
        </div>

        <div id="layoutSidenav_content">
            <!-- 본문 데이터 -->
            <%- include('mypageContent') %>
        </div>
    </div>

    <!-- 로그인, 로그아웃 버튼 보여주기 & 로그아웃 기능 -->
    <%- include('./common/topLoginBtn.ejs') %>
</body>
</html>
